<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Action-sheet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
     Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit suscipit possimus dicta quisquam magnam veniam pariatur ea, sunt molestiae enim, accusantium inventore molestias nemo fugit eligendi praesentium libero minima quia.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
  
      <ion-card-subtitle class="subtitulo">Hello word pa los que no saben español</ion-card-subtitle>
      <ion-card-title class="titulo">Hola mundo</ion-card-title>
    </ion-card-header>
    
    <ion-card-content class="ion-padding contenido">
      AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
  
      <a href="https://www.google.cl" target="_blank"><ion-img src="/assets/icon/Gato.jpg" ></ion-img></a>
    
    </ion-card-content>
  
  </ion-card> 


</ion-content>
